@page
@model CW2_WebClient.Pages.UsuariosModel
@{
    ViewData["Title"] = "Usuarios";
}

@if(@Model.sucessoCadastro){
    <div class="alert alert-success">
        Usuário cadastrado com sucesso
    </div>
}

<div class="container border" style="padding: 20px">
    <form method="post">
         <div class="form-group row">
            <div class="col-2">
                <label asp-for="usuario.Nome"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="usuario.Nome" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="usuario.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="usuario.Email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="usuario.login"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="usuario.login" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="usuario.Senha"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="usuario.Senha" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Cadastrar" />
            </div>
        </div>
    </form>
</div>

<h3>Usuarios Cadastrados</h3>
<div class="container border">
    <div class="form-group row">
        <div class="col-4">
            Nome
        </div>
        <div class="col-4">
            Email
        </div>
        <div class="col-4">
            Login
        </div>
    </div>

    @foreach (var usuario in Model.usuarios_cadastrados)
    {
        <div class="form-group row">
            <div class="col-4">
                @usuario.Nome
            </div>
            <div class="col-4">
                @usuario.Email
            </div>
            <div class="col-4">
                @usuario.login
            </div>
        </div>
    }
</div>